<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logos/armazem-logo.png" width="60px" alt="imagem logo">
      <span class="color-dark fs-20">
        Armazém Geovanne
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-accent text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <img src="../../assets/logos/armazem-logo.png" alt="Imagem logo" width="60px">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Armazém Grovanne</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <img src="../../assets/Icones/house.svg" alt="Ícone Início">
            <a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/inicio">Início</a>
          </li>
          <li class="nav-item">
            <img src="../../assets/Icones/shopping-cart.svg" alt="Ícone carrinho">
            <a class="nav-link" data-bs-dismiss="offcanvas" routerLinkActive="active"
              routerLink="/carrinho">Carrinho</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/Icones/package.svg" alt="Ícone Catálogo">
              Catálogo
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              @for (item of categorias; track item.id) {
              <li>
                <a class="dropdown-item" style="color: black !important;" data-bs-dismiss="offcanvas"
                  [routerLink]="'catalogo'">
                  {{item.descricao}}
                </a>
              </li>
              }
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>