<section class="container mt-4">
    <h3 class="mb-4">Cadastro de Frete</h3>
    <div class="caixa-cadastro-frete">
        <div>
            <form [formGroup]="formularioFrete">

                <input type="hidden" formControlName="id">

                <div class="mb-3">
                    <label for="uf" class="form-label">UF:</label>
                    <input type="text" id="uf" class="form-control" formControlName="uf" maxlength="2"
                        placeholder="Ex: SP">
                </div>

                <div class="mb-3">
                    <label for="bairro" class="form-label">Bairro:</label>
                    <input type="text" id="bairro" class="form-control" formControlName="bairro"
                        placeholder="Digite o bairro">
                </div>

                <div class="mb-3">
                    <label for="cep" class="form-label">CEP:</label>
                    <input type="text" id="cep" class="form-control" formControlName="cep" placeholder="00000-000">
                </div>

                <div class="mb-3">
                    <label for="valorFrete" class="form-label">Valor do Frete (R$):</label>
                    <input type="number" id="valorFrete" class="form-control" formControlName="valorFrete" step="0.01">
                </div>

                <button (click)="salvarFrete()" class="btn btn-primary">Salvar Frete</button>

            </form>
        </div>
        <div>
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>UF</th>
                        <th>Bairro</th>
                        <th>CEP</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Nova sintaxe @for -->
                    @for (frete of fretes; track frete.uf) {
                    <tr>
                        <!-- O índice agora é acessado com $index -->
                        <td>{{ $index + 1 }}</td>
                        <td>{{ frete.uf }}</td>
                        <td>{{ frete.bairro }}</td>
                        <td>{{ frete.cep }}</td>
                        <td>{{ frete.valorFrete }}</td>
                    </tr>
                    } @empty {
                    <!-- O bloco @empty é nativo e aparece se a lista estiver vazia -->
                    <tr>
                        <td colspan="5" class="text-center">Nenhum frete cadastrado para exibir.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>